/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a2e3f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden; /* Impede rolagem horizontal */
}

.main-container {
    display: flex;
    position: relative; /* Para o sidebar não sair do contêiner */
    width: 100%;
}

#weapon-container {
    width: 100%; /* Preenche a tela toda */
    height: 100vh; /* Preenche a tela toda */
    background-color: #0c1c2c;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0; /* Margens para espaçamento */
    font-size: 2.5rem; /* Aumentado para melhor visibilidade */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra do texto para melhor visibilidade */
    position: absolute; /* Para permitir posicionamento relativo ao contêiner */
    top: 80%; /* Aumente ou diminua este valor para mover o título para cima */
    left: 50%; /* Para centralizar horizontalmente */
    transform: translateX(-50%); /* Para garantir que o título esteja centralizado */
    z-index: 10; /* Para garantir que o título fique acima de outros elementos */
}

/* Sidebar */
.sidebar {
    width: 300px;
    padding: 20px;
    transition: none;
    position: absolute; /* Para que o botão fique fixo no canto */
    top: 20px; /* Alinha no topo */
    left: 20px; /* Alinha à esquerda */
    display: block;
    padding: 1.4rem 2.4rem 1.2rem;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    text-shadow: 1px 1px 0 #f00;
}

.filter-menu {
    list-style-type: none;
}

.filter-menu li {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #122c3d;
    text-align: left;
    border-left: 4px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.filter-menu li:hover,
.filter-menu li.active,
.submenu li.active {
    background-color: #AA0000;
    border-left-color: #AA0000;
}
